body,html {
    margin: 0;
    font-family: sans-serif;
  }
  
  ul {
    padding: 0;
    width: 100%;
  }
  
  li {
    display: inline;
  }
  
  a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
  }
  
  li:last-child a {
    margin-right: 0;
  }
  
  a:link, a:visited, a:focus {
    background: yellow;
  }
  
  a:hover {
    background: orange;
  }
  
  a:active {
    background: red;
    color: white;
  }
  
  body {
    background-color: gray;
  }
  h1 {
    color: blue;
  }
  p {
    color: rgb(255, 0, 0);
  }
  img {
    border-radius: 50%;
  }
  .icon-bar {
    width: 90px; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
  }
  
  .icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
  }
  
  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
  }
  
  .active {
    background-color: #04AA6D; /* Add an active/current color */
  }  